{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}

{% oro_title_set({params : {"%entity.title%": entity.title }}) %}

{% block navButtons %}
    {% if resource_granted('EDIT', entity) %}
        {{ UI.editButton({
            'path' : path('acme_task_update', { id: entity.id }),
            'entity_label': 'acme.task.entity_label'|trans
        }) }}
    {% endif %}
    {% if resource_granted('DELETE', entity) %}
        {{ UI.deleteButton({
            'dataUrl': path('acme_api_delete_task', {'id': entity.id}),
            'dataRedirect': path('acme_task_index'),
            'aCss': 'no-hash remove-button',
            'id': 'btn-remove-user',
            'dataId': entity.id,
            'entity_label': 'acme.task.entity_label'|trans
        }) }}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity': entity,
        'indexPath': path('acme_task_index'),
        'indexLabel': 'acme.task.entity_plural_label'|trans,
        'entityTitle': entity.title
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {%- set taskInformation -%}
        <div class="row-fluid form-horizontal">
            <div class="responsive-block">
                {% set relatedContactsData %}
                    {% for contact in entity.relatedContacts %}
                        {{ _self.renderContact(contact) }}{{ loop.last ? '' : ', ' }}
                    {% endfor %}
                {% endset %}

                {{ UI.renderProperty('acme.task.status.label'|trans, entity.status) }}
                {{ UI.renderProperty('acme.task.title.label'|trans, entity.title) }}
                {{ UI.renderProperty('acme.task.description.label'|trans, entity.description) }}
                {{ UI.renderProperty('acme.task.assignee.label'|trans, _self.renderUser(entity.assignee)) }}
                {{ UI.renderProperty('acme.task.relatedContacts.label'|trans, relatedContactsData) }}
                {{ UI.renderProperty('acme.task.owner.label'|trans, _self.renderUser(entity.owner)) }}

                {# This is required to show extended fields #}
                {{ entityConfig.renderDynamicFields(entity) }}
            </div>
        </div>
    {%- endset -%}

    {% set dataBlocks = [
        {
            'title': 'General Information'|trans,
            'class': 'active',
            'subblocks': [
                {'data' : [taskInformation]}
            ]
        }
    ] %}

    {% set id = 'userView' %}
    {% set data = { 'dataBlocks': dataBlocks } %}

    {{ parent() }}

{% endblock content_data %}

{% macro renderUser(entity) %}
    {% if entity %}
        {{ entity|oro_format_name }} -
        {% if resource_granted('VIEW', entity) %}
            <a href="{{ path('oro_user_view', {'id': entity.id}) }}">{{ entity }}</a>
        {% else %}
            {{ entity }}
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro renderContact(entity) %}
    {% if entity %}
        {%- if resource_granted('VIEW', entity) -%}
            <a href="{{ path('orocrm_contact_view', {'id': entity.id}) }}">{{ entity|oro_format_name }}</a>
        {%- else -%}
            {{ entity|oro_format_name }}
        {%- endif -%}
    {% endif %}
{% endmacro %}


