{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}

{% oro_title_set({params : {"%entity.title%": entity.title }}) %}

{% block navButtons %}
    {% if resource_granted('EDIT', entity) %}
        {{ UI.editButton({
            'path' : path('acme_task_update', { id: entity.id }),
            'entity_label': 'acme.task.entity_label'|trans
        }) }}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity': entity,
        'indexPath': path('acme_task_index'),
        'indexLabel': 'acme.task.entity_plural_label'|trans,
        'entityTitle': entity.title
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {%- set taskInformation -%}
        <div class="row-fluid form-horizontal">
            <div class="responsive-block">
                {%- set assigneeData -%}
                    {%- if entity.assignee -%}
                        {{ entity.assignee|oro_format_name }} -
                        {% if resource_granted('oro_user_user_view') %}
                            <a href="{{ path('oro_user_view', {'id': entity.assignee.id}) }}">{{ entity.assignee }}</a>
                        {% else %}
                            {{ entity.assignee }}
                        {% endif %}
                    {%- endif -%}
                {%- endset -%}

                {%- set ownerData -%}
                    {{ entity.owner|oro_format_name }} -
                    {% if resource_granted('oro_user_user_view') %}
                        <a href="{{ path('oro_user_view', {'id': entity.owner.id}) }}">{{ entity.owner }}</a>
                    {% else %}
                        {{ entity.owner }}
                    {% endif %}
                {%- endset -%}

                {{ UI.renderProperty('acme.task.status.label'|trans, entity.status) }}
                {{ UI.renderProperty('acme.task.title.label'|trans, entity.title) }}
                {{ UI.renderProperty('acme.task.description.label'|trans, entity.description) }}
                {{ UI.renderProperty('acme.task.assignee.label'|trans, assigneeData) }}
                {{ UI.renderProperty('acme.task.owner.label'|trans, ownerData) }}
            </div>
        </div>
    {%- endset -%}

    {% set dataBlocks = [
        {
            'title': 'General Information'|trans,
            'class': 'active',
            'subblocks': [
                {'data' : [taskInformation]}
            ]
        }
    ] %}

    {% set id = 'userView' %}
    {% set data = { 'dataBlocks': dataBlocks } %}
    {{ parent() }}
{% endblock content_data %}

